@font-face {
   font-family: 'rabionead';
   src: url(../fonts/rabiohead.ttf);
}
@font-face {
    font-family: 'AvenirLTStd-BookOblique';
    src: url(../fonts/AvenirLTStd-Medium.otf);
}
body {
    /* margin-top: 105px; */
    margin: 0;
}
.navbar-light .navbar-nav .nav-link:hover, .dropdown-item:hover, .top-menu a:hover, footer .col-lg-2 a:hover, #location-bg-image a:hover, .footer-style a:hover, .footer-icon-style a i:hover{
    color: rgb(98, 149, 72);
}

/* top-menu */
.top-menu a {
    position: relative;
    left: 46%;
    top: -20%;
    padding: 0 11px;
    font-size: 14px;
    color: black;
    text-decoration: none;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0);
    padding: 0 12px;
}
.custom-btn{
    padding: 3px 14px;
    background-color: #148ecf;
    border-color: #148ecf;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-toggle i {
    font-size: 12px;
    padding-left: 6px;
}
.scrollDownHeight{
    height: 60px;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    /* transition-delay: 1s;  */
}
.scrollDownHeight img {
    width: 80px;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}
.scrollUpHeight{
    height: 80px;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    /* transition-delay: 1s; */
}
.scrollUpHeight img{
    width: 120px;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}
.five-colums {
    max-width: 20%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
/* end top-menu */

/* main banner */
#showcase{
    position: relative;
    background: url('../img/faq_page.jpg');
    min-height: 552px;
    background-position: center center;
    }
.showcase-head {
    margin: 117px 0;
}
.showcase-style {
    background-color: #629648;
    text-align: center;
    padding: 4px 0;
    font-size: 47px;
    color: white;
}
.showcase-style1{
    text-align: center;
    font-size: 36px;
    color: black;
    font-family: rabionead;
    font-weight: 500;
}


/* .sticky-offset {
    top:56px;
} */
/* end main banner */

/* tabs */
.tabs-style {
    background-color: #EBEAEF;
    text-align: center;
    padding: 19px 10px;
    cursor: pointer;
}
.tabs-style i {
    font-size: 31px;
    color: black;
}
.active{
    background-color: #629648;
    color: white;
}
/* end tabs */

/* accordian */
.card-header, .card-link, .card-link:hover{
    background-color: white;
    text-align: left;
    color: black;
}
.card-body{
    padding: 10px 10px;
}
.card{
    border-radius: 0;
}
.accordion-signs{
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 25px;
    color: black;
    -webkit-animation: minus 0.5s;
    animation: minus 0.5s;
}
@keyframes minus {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
[aria-expanded="false"] > .expanded, [aria-expanded="true"] > .collapsed {
    display: none;
}
.accordion{
    margin: 0 14px;
    width: 100%;
}
#the-basic-accordian, #getting-started-accordian, #solution-accordian, #technology-accordian, #company-accordian {
    padding: 20px 0;
}
.accordion a {
    font-size: 19px;
    cursor: pointer;
}
/* end accordian */

/* form section */
.slope {
    background-color: #629648;
  }
  .slope-skew{
    background-color: #629648;
    height: 100px;
    transform: skewY(3deg);
    position: relative;
    top: 36px;
  }
  .slope .row {
    padding: 100px 0;
    margin: 0 100px;
  }
  .slope h3 {
    font-size: 30px;
}
  .slope h3, .slope p, .slope .form-control, .slope .btn, footer, nav, .showcase-style, .tabs-style, .accordion {
      font-family: AvenirLTStd-BookOblique;
  }
  input[type="submit"] {
    padding: 9px 17px;
    border: 1px solid #629548;
    color: #629548;
  }
  input[type="submit"]:hover {
      border: 1px solid white;
      background-color: #629548 !important;
      color: white;
  }
/* end form section */

/* footer */
footer {
    background-color: #F7F7F7;
}
.footer-style a {
    padding-right: 15px;
    color: #333b45;
    text-decoration: none;
}
.footer-icon-style a i {
    padding: 0 9px;
    color: #333b45;
}
.footer-heading-style {
    font-size: 19px;
}
footer .col-lg-2 a {
    line-height: 2;
    display: block;
    text-decoration: none;
    color: #333b45;
}
#location-bg-image{
    background-image: url(../img/rsz_world-map-146505_960_720.png);
    background-size: cover;
    background-color: #b76a6a00;
}
#location-bg-image a {
    display: block;
    color: #333b45;
    line-height: 2;
    text-decoration: none;
}
.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 38px;
    height: 38px;
    text-align: center;
    color: #fff;
    background: rgba(90,92,105,.8);
    line-height: 40px;
    font-size: 27px;
    font-weight: 900;
}
/* end footer */

@media only screen and (max-width: 2560){
    .slope-skew {
        height: 80px;
        top: 70px;
    }
}
/* media queries */
@media only screen and (max-width: 1023px){
    .scrollUpHeight img {
        width: 90px;
    }
    .top-menu a {
        left: 34%;
        padding: 0 4px;
        font-size: 13px;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 0 4px;
        font-size: 12px;
    }
    .custom-btn {
        padding: 2px 5px;
        font-size: 14px;
    }
    footer .col-lg-2 {
        padding-top: 30px;
    }
    .five-colums {
        max-width: 25%;
    }
    .slope .row {
        margin: unset;
    }
    .slope .lead {
        font-size: 15px;
    }
    .form-row .col-md-2{
        position: relative;
        right: 15px;
    }
    .showcase-style {
        font-size: 30px;
    }
    .showcase-style1 {
        font-size: 22px;
    }
    .accordion a {
        font-size: 17px;
    }
}
@media only screen and (max-width: 767px){
    .top-menu{
        display: none !important;
    }
    /* .scrollDownHeight {
        height: 80px;
    } */
    .navbar-collapse.show {
        display: block;
        position: fixed;
        top: 60px;
        background-color: #fff;
        width: 250px;
        right: 0;
        padding: 30px 15px;
    }
    .five-colums{
        max-width: 33.333333%;
    }
    .showcase-style{
        font-size: 35px;
    }
    .showcase-style1{
        font-size: 25px;
    }
    #showcase{
        min-height: 460px;
    }
    .showcase-head{
        margin: 70px 0;
    }
    .accordion a {
        font-size: 15px;
    }
    .slope h3 {
        font-size: 23px;
    }
    .card-body {
        font-size: 14px;
    }
    .slope .lead {
        font-size: 13px;
    }
    .slope .row {
        margin: unset;
    }
    input[type="submit"] {
        width: 100%;
    }
    footer img{
        position: relative;
        left: 35%;
    }
    #location-bg-image a {
        display: inline-block;
        width: 49%;
    }
    footer .col-md-4 {
        padding-top: 30px;
    }
}
@media only screen and (max-width: 480px){
    .five-colums {
        max-width: 50%;
    }
}